<CiscoIPPhoneMenu>
  <Title>Latest Tweets</Title>
  <Prompt></Prompt>

  {% for item in statuses %}
  <MenuItem>
    <Name>{{ item.getText()[0:60] }}</Name>
    <URL>{{ base_url() }}{{ autologin_path_for('tweet', {'idStr': item.status.id_str}) }}</URL>
  </MenuItem>
  {% endfor %}

  <SoftKeyItem>
    <Name>Tweet!</Name>
    <URL>{{ base_url() }}{{ autologin_path_for('compose') }}</URL>
    <Position>3</Position>
  </SoftKeyItem>

</CiscoIPPhoneMenu>
